.project-tile {
  margin-bottom: 20px;
  animation: fadeIn .5s ease-out;
  
  .project-image {
    width: 100%;
    max-width: 450px;
    max-height: 650px;
    // margin-bottom: 20px;
  }
  
  
  .project-title {
    margin: 15px 0 10px 0;
    color: black;
  }  

  .hover-title {
    display: none;
  }

  .hover-description {
    display: none;
  }
}


@media (min-width: 580px) {
  .project-tile {
    margin: 0;
    position: relative;
    // margin-bottom: 35px;

    &:hover .top {
      opacity: 100;
    }

    .project-image {
      max-width: 560px;
      max-height: 750px;
      // margin-bottom: 10px;
    } 

    .project-title {
      display: none;
    }

    .top {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgb(235,224,217);
      z-index: 99;
      opacity: 0;
      transition: opacity .2s ease-out;
      cursor: pointer;

      .hover-title {
        display: block;
        font-size: 5em;
        text-align: center;
        color: rgb(67,38,235);
      }

      .hover-description {
        display: block;
        text-align: center;
        margin-top: 15px;
        color: black;
      }
    }


  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 580px) and (max-width: 769px) {
  .project-tile {
    margin-bottom: 35px;
  }
} 