.project-tile {
  .project-image {
    width: 100%;
    max-width: 450px;
    max-height: 650px;
    margin-bottom: 15px;
    // margin-bottom: 20px;
  }
  
  .project-title {
    margin: 15px 0 15px 0;
  }  
}


@media (min-width: 770px) {
  .project-tile {

    .project-image {
      display: inline-block;
      max-width: 560px;
      max-height: 750px;
      flex-basis: calc(50% - 20px);
      margin-bottom: 40px;
    } 

    .project-title {
      display: none;
    }
  }
}