.shoppie-page {
  // width: 90%;
  // max-width: 1200px;
  // margin: 0 auto;

  .main-image {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    text-align: center;

    img {
      width: 100%;
      margin-bottom: 15px;
    }

    .project-buttons {
      p {
        display: inline-block;
        background: rgb(15, 25, 58);
        opacity: 0.8;
        color: white;
        padding: 10px 20px;
        margin: 0 15px;
        border-radius: 15px;
        transition: opacity .4s ease-out;
  
        &:hover {
          opacity: 1;
        }
      }

    }

    
  }
}
