.menu-page {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2.2em;
  font-family: 'Playfair Display', serif;

  a {
    text-decoration: none;
    // color: rgb(67,38,235);
    color: black;
  }

  h3 {
    margin-bottom: 55px;
    // color: rgb(67,38,235);
    color: black;
  }
}

@media (min-width: 580px) {
  .menu-page {
    display: none;
  }
}