@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

.about-page {
  height: 91vh;
  margin: 0 auto;
  max-width: 1500px;

  .main-purple-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 75%;
    background: rgb(67, 38, 235);

    .intro-name {
      position: absolute;
      top: 5%;
      left: 5%;
      // font-size: 2.1em;
      // font-size: calc(25px + (110 - 25) * ((100vw - 300px) / (1300 - 300)));
      @include fluid-type(font-size, 300px, 1300px, 25px, 110px);
      color: rgb(235,224,217);
      animation-name: moveInTop;
      animation-duration: 1s;
      user-select: none;
    }

    .three-arrows {
      // color: rgba(255, 255, 255, 0.301);
      // color: rgb(67, 38, 235);
      color: rgba(255, 255, 255, 0.692);
      position: absolute;
      bottom: 15px;
      right: 15px;
      animation: arrowRight 1s;
    }


    .arrow-icon {
      display: flex;
      flex-direction: column;
      user-select: none;
      position: absolute;
      bottom: 0;
      right: -15px;
      animation: moveInRight 1.2s ease-in;
    }

    .view-projects {
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%);
      cursor: pointer;
      user-select: none;
      color: black;
      padding-right: 5px;
      border-right: 2px solid transparent;
      animation: viewProject 1s ease-in;

      &:hover {
        // color: rgb(67, 38, 235);
        border-right: 2px solid rgb(67, 38, 235);
        transition: border-right .5s;
      }
    }

    .view-contact {
      position: absolute;
      top: 50%;
      left: -25px;
      transform: translateY(-50%);
      color: black;
      padding-left: 5px;
      border-left: 2px solid transparent;
      animation: viewProject 1s ease-in;

      &:hover {
        border-left: 2px solid rgb(67, 38, 235);
        transition: border-left .5s;
      }
    }

  }

  .text {
    height: 90vh;
    position: relative;

    .text-name-intro {
      position: absolute;
      top: 23%;
      left: 36%;
      transform: translate(-35%, -23%);
      font-size: 2.1em;
      color: white;
      animation: moveInTop 1s;
    }

    .header1 {
      position: absolute;
      top: 65%;
      left: 17%;
      transform: translate(-17%, -65%);

      .fullstack {
        // font-size: 4.5em;
        @include fluid-type(font-size, 300px, 1300px, 68px, 120px);
        animation: moveInLeft 1s;
        user-select: none;
        // animation-timing-function: ease-out;
      }
    }
 
    .fullstack-alt-height {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -60%);
      display: none;
    }
  }

  .text2 {
    height: 90vh;
    width: 70%;
    margin: 0 auto;
    z-index: 2;
    position: relative;

    .test2 {
      position: absolute;
      bottom: 38%;
      right: 26%;
      font-size: 2.5vh;
      color: pink;
    }

    .header2 {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -48%);
      // text-align: center;
      color: rgb(235,224,217);
      animation: mainText 1s;

      span {
        color: pink;
        text-align: right;
        float: right;
        margin-top: 30px;
        cursor: pointer;
        animation: arrowRight 1s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .second-bio {
      animation: mainText 1s;
    }
  }
}

//------ KEYFRAMES ------// 
// fullstack text
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// Scroll text
@keyframes moveInRight {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Intro name text
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(210);
  }
}

// Right arrow icon
@keyframes arrowRight {
  0% {
    opacity: 0;
    transform: translateX(-100px)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes mainText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes viewProject {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}




//------ MEDIA QUERIES ------// 

@media (min-width: 582px) and (max-width: 792px) {
  .about-page {
    .main-purple-box {
      .intro-name {
        // font-size: 3.1em;
      }
    }

    .text {
      .text-name-intro {
        font-size: 3.5em;
      }
    }

    .text2 {
      .header2 {
        font-size: 1.5em;
      }
    }
  }
}

@media (min-width: 793px) and (max-width: 1103px) {
  .about-page {
    .main-purple-box {
      // min-height: 650px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .intro-name {
        // font-size: 5.1em;
      }
    }

    .text {
      .text-name-intro {
        font-size: 5em;
        top: 20%;
        left: 36%;
        transform: translate(-35%, -20%);
      }

      .header1 {
        .fullstack {
          // font-size: 10vw;
        }
      }
    }

    .text2 {
      .header2 {
        font-size: 1.9em;
      }
    }
  }
}

@media (min-width: 1104px) and (max-width: 1500px) {
  .about-page {
    .main-purple-box {
      // min-height: 650px;
      // min-height: 50%;
      .intro-name {
        // font-size: 6em;
      }
    }
    .text {
      .text-name-intro {
        font-size: 6em;
        top: 22%;
        left: 36%;
        transform: translate(-35%, -20%);
      }

      .header1 {
        .fullstack {
          // font-size: 7.5vw;

          // max-height: 140px;
        }
      }
    }

    .text2 {
      .header2 {
        font-size: 2em;
      }
    }
  }
}

@media (min-width: 1104px) and (min-height: 1000px) {
  .about-page {
    .main-purple-box {
      // min-height: 650px;
      // min-height: 50%;
    }
    .text {
      .text-name-intro {
        font-size: 6em;
        top: 22%;
        left: 36%;
        transform: translate(-35%, -20%);
      }

      .header1 {
        .fullstack {
          // font-size: 9.5vw;

          // max-height: 140px;
        }
      }
    }

    // .text2 {
    //   .header2 {
    //     font-size : 2em;
    //   }
    // }
  }
}

@media (min-height: 600px) and (min-width: 800px) and (max-width: 1000px) {
  .about-page {
    .main-purple-box {
      height: 65%;
    }

    .text {
      .text-name-intro {
        // font-size: 6em;
        top: 12%;
        left: 31%;
        transform: translate(-30%, -10%);
      }
    }

    .header1 {
      .fullstack {
        // font-size: 7vw;
      }
    }

    .text2 {
      .header2 {
        font-size: 1.5em;
      }
    }
  }
}

@media (min-height: 813px) and (max-height: 900px) {
  .about-page {
    .main-purple-box {
      height: 65%;
    }

    .text {
      .text-name-intro {
        // font-size: 6em;
        top: 12%;
        left: 31%;
        transform: translate(-30%, -10%);
      }
    }

    .header1 {
      .fullstack {
        // font-size: 7.5vw;
      }
    }
  }
}

@media (min-height: 1000px) {
  .about-page {
    // .main-purple-box {
    //   background: red;
    // }

    .text {
      .text-name-intro {
        font-size: 6em;
        
      }
    }

    .header1 {
      .fullstack {
        // font-size: 10vw;
      }
    }
  }
}

@media (min-height: 100px) and (max-height: 850px) and (min-width: 650px) {
  .about-page {
    .main-purple-box {
      height: 65%;
    }

    .text {
      .text-name-intro {
        top: 15%;
        left: 30%;
        transform: translate(-30%, -15%);
      }

      .header1 {
        .fullstack {
          font-size: 6em;
        }
      }
    }
    
  }
}

@media (min-width: 320px) and (max-width: 320px) and (min-height: 568px) and (max-height: 568px) {
  .about-page {
    // .main-purple-box {
    // }

    .text {
      .text-name-intro {
        font-size: 2em;
        
      }
    }

    .text {
      .header1 {
        .fullstack {
          font-size: 3.5em;
        }
      }
    }

    .text2 {
      .header2 {
        font-size: 12px;
      }
    }
    
  }
}

@media (min-width: 1500px) {
  .about-page {
    .main-purple-box {
      max-width: 1000px;

      .intro-name {
        // font-size: 6em;
      }
    }

    .text {
      .header1 {
        top: 67%;
        left: 20%;
        transform: translate(-20%, -67%);
        .fullstack {
          // font-size: 8em;
        }
      }
    }

    .text2 {
      .header2 {
        font-size: 2em;
      }
    }

  }
}
