.about-page {
  height: 91vh;

  .main-purple-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 75%;
    background: rgb(67, 38, 235);
  }

  .text {
    height: 90vh;
    position: relative;

    .text-name-intro {
      position: absolute;
      top: 23%;
      left: 36%;
      transform: translate(-35%, -23%);
      font-size: 2.1em;
      color: white;
    }

    .header1 {
      position: absolute;
      top: 65%;
      left: 17%;
      transform: translate(-17%, -65%);

      .fullstack {
        font-size: 4.5em;
      }
    }
 
    .fullstack-alt-height {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -60%);
      display: none;
    }
  }

  .text2 {
    height: 90vh;
    position: relative;

    .header2 {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -48%);
      color: white;
    }
  }
}

@media (min-width: 582px) and (max-width: 792px) {
  .about-page {
    .text {
      .text-name-intro {
        font-size: 3.5em;
      }
    }

    .text2 {
      .header2 {
        font-size: 1.5em;
      }
    }
  }
}

@media (min-width: 793px) and (max-width: 1103px) {
  .about-page {
    .main-purple-box {
      // min-height: 650px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .text {
      .text-name-intro {
        font-size: 5em;
        top: 20%;
        left: 36%;
        transform: translate(-35%, -20%);
      }

      .header1 {
        .fullstack {
          font-size: 10vw;
        }
      }
    }

    .text2 {
      .header2 {
        font-size: 1.9em;
      }
    }
  }
}

@media (min-width: 1104px) {
  .about-page {
    .main-purple-box {
      // min-height: 650px;
      // min-height: 50%;
    }
    .text {
      .text-name-intro {
        font-size: 6em;
        top: 22%;
        left: 36%;
        transform: translate(-35%, -20%);
      }

      .header1 {
        .fullstack {
          font-size: 7.5vw;

          // max-height: 140px;
        }
      }
    }

    .text2 {
      .header2 {
        font-size: 2em;
      }
    }
  }
}

@media (min-width: 1104px) and (min-height: 1000px) {
  .about-page {
    .main-purple-box {
      // min-height: 650px;
      // min-height: 50%;
    }
    .text {
      .text-name-intro {
        font-size: 6em;
        top: 22%;
        left: 36%;
        transform: translate(-35%, -20%);
      }

      .header1 {
        .fullstack {
          font-size: 9.5vw;

          // max-height: 140px;
        }
      }
    }

    // .text2 {
    //   .header2 {
    //     font-size : 2em;
    //   }
    // }
  }
}

@media (min-height: 600px) and (min-width: 800px) and (max-width: 1000px) {
  .about-page {
    .main-purple-box {
      height: 65%;
    }

    .text {
      .text-name-intro {
        // font-size: 6em;
        top: 12%;
        left: 31%;
        transform: translate(-30%, -10%);
      }
    }

    .header1 {
      .fullstack {
        font-size: 7vw;
      }
    }

    .text2 {
      .header2 {
        font-size: 1.5em;
      }
    }
  }
}

@media (min-height: 813px) and (max-height: 900px) {
  .about-page {
    .main-purple-box {
      height: 65%;
    }

    .text {
      .text-name-intro {
        // font-size: 6em;
        top: 12%;
        left: 31%;
        transform: translate(-30%, -10%);
      }
    }

    .header1 {
      .fullstack {
        font-size: 7.5vw;
      }
    }
  }
}

@media (min-height: 1000px) {
  .about-page {
    // .main-purple-box {
    //   background: red;
    // }

    .text {
      .text-name-intro {
        font-size: 7em;
        
      }
    }

    .header1 {
      .fullstack {
        font-size: 10vw;
      }
    }
  }
}

@media (min-height: 100px) and (max-height: 800px) and (min-width: 650px) {
  .about-page {
    .main-purple-box {
      background: red;
    }

    .text {
      .header1 {
        .fullstack {
          font-size: 8vw;
        }
      }
    }
    
  }
}

@media (min-width: 320px) and (max-width: 320px) and (min-height: 568px) and (max-height: 568px) {
  .about-page {
    .main-purple-box {
      background: red;
    }

    .text {
      .text-name-intro {
        font-size: 2em;
        
      }
    }

    .text {
      .header1 {
        .fullstack {
          font-size: 3.5em;
        }
      }
    }

    .text2 {
      .header2 {
        font-size: 12px;
      }
    }
    
  }
}
