.contact-form {
  margin-bottom: 10px;
  margin-top: 120px;
  width: 100%;

  .send-message {
    display: none;
  }


  .error-message {
    font-size: 19px;
    animation: errorFadeIn 2.3s ease-in-out;
    color: rgb(245, 106, 106);
    font-family: 'Playfair Display', serif;
  }

  .form-inputs {
    margin-bottom: 10px;

    input {
      width: 100%;
      font-size: 20px;
      margin-bottom: 10px;
      padding: 5px;
      border: none;
      background-color: transparent;
      border-bottom: 3px solid rgb(228, 208, 195);
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .input-error {
      border-bottom: 3px solid rgb(245, 106, 106);
    }
  }

  textarea {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: none;
    background: rgb(228, 208, 195);
    outline: none;
    margin-bottom: 10px;
    resize: none;
    border: 3px solid transparent;
  }

  .textarea-empty {
    border: 3px solid rgb(245, 106, 106);
  }

  .submit-btn {
    font-size: 30px;
    padding: 5px 15px;
    color: rgb(235,224,217);
    background: rgb(67, 38, 235);
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:hover {
      background: rgba(68, 38, 235, 0.849);
    }
  }
}

.sent-message {
  font-family: 'Playfair Display', serif;
}

@keyframes errorFadeIn {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 70;
  }

  70% {
    opacity: 100;
  }


  100% {
    opacity: 0;
  }
}

@media (min-width: 550px) and (max-width: 900px) {
  .contact-form {
    .error-message {
      font-size: 1em;
    }

    .form-inputs {
      display: flex;
      justify-content: space-between;

      input {
        width: 48%;
      }
    }
  }
}

@media (min-width: 901px) {
  .contact-form {
    .error-message {
      font-size: 1em;
    }

    .form-inputs {
      display: flex;
      justify-content: space-between;

      input {
        width: 48%;
      }
    }
  }
}

