.header {
  // background: aqua;


  a {
    text-decoration: none;

    &:visited {
      color: black;
    }
  }

  .header-logo {
    font-size: 1.4em;
  }

  .header-nav-items {
    display: none;
  }

  .header-nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    font-size: 1em;
  }

  ul li {
    display: inline-block;
    margin-left: 15px;
  }

  .menu-icon {
    // display: none;
    cursor: pointer;
  }
}

@media (min-width: 580px) {
  .header {
    .header-nav {
      padding: 40px 0;
    }
    .header-nav-items {
      display: block;
    }

    .menu-icon {
      display: none;
    }
  }
}
