.header {

  a {
    text-decoration: none;

    &:visited {
      color: black;
      // color: rgb(67,38,235);
    }
  }

  .header-logo {
    font-size: 1.4em;
    font-weight: bold;

    a {
      &:visited {
        // color: rgb(67, 38, 235);
        color: black;
      }
    }
  }

  .header-nav-items {
    display: none;

    .active {
      color: rgb(67, 38, 235);
      // padding-bottom: 5px;
      // border-bottom: 2px solid rgb(67, 38, 235);
    }
  }

  .header-nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    font-size: 1em;
  }

  ul li {
    display: inline-block;
    margin-left: 15px;
  }

  .active a {
    // padding-bottom: 4px;
    // border-bottom: 2px solid rgb(67,38,235)
    // color: rgb(67,38,235);
  }

  .menu-icon {
    // display: none;
    cursor: pointer;
  }
}

@media (min-width: 580px) {
  .header {
    max-width: 1285px;
    margin: 0 auto;

    .header-nav {
      padding: 40px 0;
    }
    .header-nav-items {
      display: block;
    }

    .menu-icon {
      display: none;
    }
  }
}
