.header {
  // background: aqua;

  a {
    text-decoration: none;

    &:visited {
      color: black;
    }
  }

  .header-logo {
    font-size: 1.4em;
  }
  
  .header-nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    font-size: 1em;
  }

  ul li {
    display: inline-block;
    margin-left: 15px;
  }

  
}

@media (max-width: 580px) {
  .header-nav-items {
    display: none;
  }
}