.timeline {
  position: relative;
  margin: 10px auto;
  // padding: 10px 0;
  width: 1000px;

  .single-time-title {
    color: rgb(220, 165, 147);
    display: inline-block;
    margin-bottom: 5px;
    // border: 1px solid #e7a790;
    font-size: 1.05em;
    border-radius: 15px;
    padding: 7px;
    color: white;
    background: rgb(128, 233, 205);
  }

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background: black;
  }

  ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;

    &:nth-child(odd) {
      float: left;
      text-align: right;
      clear: both;

      &:before {
        content: "";
        position: absolute;
        top: 32px;
        right: -6px;
        width: 10px;
        height: 10px;
        background: rgb(128, 233, 205);
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(128, 233, 205, 0.3);
      }
    }

    &:nth-child(even) {
      float: right;
      text-align: left;
      clear: both;

      &:before {
        content: "";
        position: absolute;
        top: 32px;
        left: -5px;
        width: 10px;
        height: 10px;
        background: rgb(128, 233, 205);
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(128, 233, 205, 0.3);
      }
    }
  }

  .content {
    padding-bottom: 20px;
  }
}

@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .timeline {
    width: 100%;

    &:before {
      left: 20px;
    }

    ul li {
      &:nth-child(odd),
      &:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        // padding-bottom: 50px;
      }

      &:nth-child(odd):before,
      &:nth-child(even):before {
        top: 29px;
        left: 16px;
      }
    }
  }
}

// Chello Timeline
.timeline-chello {
  .single-time-title {
    color: white;
    background: navy;
  }

  ul li {
    &:nth-child(odd) {
      &:before {
        background: navy;
        box-shadow: 0 0 0 3px rgba(52, 65, 243, 0.3);
      }
    }

    &:nth-child(even) {
      &:before {
        background: navy;
        box-shadow: 0 0 0 3px rgba(52, 65, 243, 0.3);
      }
    }
  }
}

//Critter Timeline
.timeline-critter {
  .single-time-title {
    color: white;
    background: rgb(100, 163, 214);
  }

  ul li {
    &:nth-child(odd) {
      &:before {
        background: rgb(100, 163, 214);
        box-shadow: 0 0 0 3px rgba(100, 163, 214, 0.3);
      }
    }

    &:nth-child(even) {
      &:before {
        background: rgb(100, 163, 214);
        box-shadow: 0 0 0 3px rgba(100, 163, 214, 0.3);
      }
    }
  }
}

// oKupid Timeline
.timeline-okupid {
  .single-time-title {
    color: white;
    background: #ebaa92;
  }

  ul li {
    &:nth-child(odd) {
      &:before {
        background: #ebaa92;
        box-shadow: 0 0 0 3px rgba(220, 165, 147, 0.3);
      }
    }

    &:nth-child(even) {
      &:before {
        background: #ebaa92;
        box-shadow: 0 0 0 3px rgba(220, 165, 147, 0.3);
      }
    }
  }
}


