.timeline {
  position: relative;
  margin: 10px auto;
  // padding: 10px 0;
  width: 1000px;

  h3 {
    color: rgb(220, 165, 147);
    margin-bottom: 5px;
  }

  h4 {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    width: .75px;
    height: 100%;
    background: black;
  }

  ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;

    &:nth-child(odd) {
      float: left;
      text-align: right;
      clear: both;

      &:before {
        content: '';
        position: absolute;
        top: 24px;
        right: -6px;
        width: 10px;
        height: 10px;
        background: #ebaa92;
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(220, 165, 147, 0.3)
      }
    }

    &:nth-child(even) {
      float: right;
      text-align: left;
      clear: both;

      &:before {
        content: '';
        position: absolute;
        top: 24px;
        left: -5px;
        width: 10px;
        height: 10px;
        background: #ebaa92;
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(220, 165, 147, 0.3)
      }
    }
  }

  .content {
    padding-bottom: 20px;
  }
}

.timeline-chello {
  h3 {
    color: navy;
  }

  ul li {
    &:nth-child(odd) {
      &:before {
        background: navy;
        box-shadow: 0 0 0 3px rgba(52, 65, 243, 0.3)
      }
    }

    &:nth-child(even) {
      &:before {
        background: navy;
        box-shadow: 0 0 0 3px rgba(52, 65, 243, 0.3)
      }
    }

  }
}